<header class="section-header">

    <nav class="navbar navbar-dark navbar-expand p-0 bg-primary">
        <div class="container">
            <ul class="navbar-nav d-none d-md-flex mr-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">Delivery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">Payment</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#"
                       class="nav-link"> Call: +99812345678 </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#"
                       class="nav-link dropdown-toggle" data-toggle="dropdown"> English </a>
                    <ul class="dropdown-menu dropdown-menu-right" style="max-width: 100px;">
                        <li>
                            <a class="dropdown-item"
                               href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">Arabic</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">
                                Russian
                            </a>
                        </li>
                    </ul>
                </li>
            </ul> <!-- list-inline //  -->
        </div> <!-- navbar-collapse .// -->
        <!-- container //  -->
    </nav> <!-- header-top-light.// -->

    <section class="header-main border-bottom">
        @Html.Partial("~/Views/Layout/HeaderTopPartial.cshtml")
    </section> <!-- header-main .// -->
</header> <!-- section-header.// -->


<nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"
                aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" deluminate_imagetype="unknown"></span>
        </button>

        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link pl-0" data-toggle="dropdown"
                       href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">
                        <strong>
                            <i class="fa fa-bars"></i> &nbsp; All category
                        </strong>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">
                            Foods
                            and Drink
                        </a>
                        <a class="dropdown-item"
                           href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">
                            Home
                            interior
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">
                            Category
                            1
                        </a>
                        <a class="dropdown-item"
                           href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">
                            Category
                            2
                        </a>
                        <a class="dropdown-item"
                           href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">
                            Category
                            3
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">Fashion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">Supermarket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">Electronics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">
                        Baby
                        &amp; Toys
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">
                        Fitness
                        sport
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">Clothing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-index-1.html#">Furnitures</a>
                </li>
            </ul>
        </div> <!-- collapse .// -->
    </div> <!-- container .// -->
</nav>