


/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}*/


 
@media (max-width: 375px) {
    body {
        font-size: 10px;
    }
    h5{
        font-size:8px;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 10px;
    }
    h5 {
        font-size: 8px;
    }
}

.star-on img{
    display: inline-block;
    width:5%;
    height: 5%;
}